* {
  vertical-align: baseline;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

body{
	background-image: url("media/background.jpg");
	height: 100%;
	width: 100%;
}

table{
}

caption {
	
}

th {
	
}

td{
	
}

footer{
	color: black;
	font-variant: small-caps;
	text-align: center;
	
}